* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.footer-container {
    display: flex;
    flex-direction: column;
    background-color: #222F3E;
    color: rgb(243, 236, 236);
}

.footer-container>p {
    display: flex;
    justify-content: center;
    margin: 1.5rem 0;
    font-size: 1.6rem;
    font-weight: bold;
}

.footer-img-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
    margin-bottom: 1.5rem;
}

.footer-img-container>img {
    width: 6rem;
    border-radius: .8rem;
}

.footer-ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
    list-style: none;
    margin-bottom: 1rem;

}

.footer-ul>li>img {
    width: 2rem;
}

.footer-copyright-container>p {
    display: flex;
    justify-content: center;
    margin-bottom: .5rem;
}